p {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 100px;
}

#header {
  background-image: url("../image/assets/backgrounds/landing.jpg");
  height: 600px;
}

#logoBig {
  padding-top: 40px;
  padding-left: 370px;
}

#happy {
  background-color: #d1d1e0;
  height: 100px;
}

#party {
  background-color: #ff8080;
  height: 100px;
}

#breakfast {
  background-image: url("../image/assets/foodtop/breakfast.jpg")
}

#lunch {
  background-image: url("../image/assets/foodtop/breakfast.jpg")
}

#size {
  font-size: 14px;
  font-family: sans-serif;
}

#tiptop {
  margin: auto;
  padding: bottom: 500px;
}

#me {
  background-image: url("../image/assets/fastFood2.jpg");
  float: left;
}

#daily {
  font-size: 14px;
  font-family: sans-serif;
}

div.lastly {
  background-color: #F15A29;
  height: 200px;
}

div.background {
  background-image: url("../image/assets/backgrounds/subscribe.jpg");
  height: 300px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: 50px;
  color: #F15A29;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#customer {
  padding-left: 105px;
  margin: 0px;
}

#place {
  text-align: center;
}

#placer {
  text-align: center;
  color: #fd7e14;
}

.btn-lg {
  margin-left: 0px;
  margin-top: 7px;
}

#input {
  margin-left: 200px;
  margin-top: 100px;
}

#top {
  color: white;
  font-size: 20px;
  font-family: sans-serif;
}

div.box {
  width: 1580px;
  text-align: center;
}

#footer{
  display: block;
  float: left;
  padding-left: 500px;
  margin-top: 50px;


}
#final{
  font-size: 14px;
  color; white;
  text-align: center;
}
